[submodule "spoon"]
  path = spoon
  url  = git@github.com:egasimus/spoon.git
[submodule "porttime-zig"]
  path = porttime-zig
  url  = git@github.com:egasimus/porttime-zig.git
[submodule "portmidi-zig"]
  path = portmidi-zig
  url  = git@github.com:egasimus/portmidi-zig.git
[submodule "portmidi-c"]
  path = portmidi-c
  url  = https://github.com/PortMidi/portmidi
